@media ( max-width: 1200px  )
    .container,
    .newsletter
        max-width: 960px
    .hotel
        &-slider
            width: 590px
    .swiper
        &-slide
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .card
        width: 230px
        height: 230px

    .footer
        &__input
            &-group
                flex-basis: 48%

    .modal
        &__input
            width: 100%
@media ( max-width:992px )
    .container,
    .newsletter-wrapper
        max-width: 700px

    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
            margin-right: auto
            max-width: 340px
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
    .logo
        width: 132px
    .hotel
        &-grid
            flex-direction: column
        &__rightside
            flex-direction: row
        &__slider
            margin-bottom: 30px
        &-slider
            width: 100%
    .booking
        width: 340px
    .map
        width: 340px
    .reviews
        &__title
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
        &-slider
            &__item
                max-width: 580px
    .newsletter
        max-width: 992px
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 340px
        height: 230px
    .footer
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 40px
        &__logo
            grid-row: 1/2
            grid-column: span 2
        &__social
            &-network
                grid-row: 1/2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2/3
            grid-column: span 2
        &__informations
            grid-row: 2/3
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__contact
            &-details
                grid-row: 3
                grid-column: span 5
                margin-top: 0
        &__contacts-form
            grid-row: 4
            grid-column: span 5
            margin-top: 0
        &__input
            &-group
                flex-basis: 48%
    .modal
        &__dialog
            padding: 30px 50px
            max-width: 500px

@media(min-width: 992px)
    .search
        &__button
            &:hover
                opacity: .8
    .subscribe
        &__button
            &:hover
                opacity: .8
    .user
        &__name
            &:hover
                color: $primary
    .navbar
        &-menu
            &__link
                &:hover
                    text-decoration: underline

    .breadcrumb
        &-list
            &__link
                &:hover
                    text-decoration: underline
    .booking
        &__button
            &:hover
                opacity: .8
    .card
        &__button
            &:hover
                opacity: .8
    .footer
        &__button
            &:hover
                opacity: .8

        &__link
            &:hover
                text-decoration: underline
    .modal
        &__button
            &:hover
                opacity: .8

@media ( max-width:768px )
    .container
        max-width: 576px
        width: 92%
    body
        padding-top: 78px
    .body
        &__hidden
            overflow: hidden

    .navbar
        &-mobile-fixed
            position: fixed
            left: 0
            right: 0
            top: 0
            z-index: 99
        &__search
            &-mobile
                margin-bottom: 39px
                &-hidden
                    display: none
                &-visible
                    display: flex
        &__user
            &-mobile
                &-hidden
                    display: none
                &-visible
                    display: flex

        &__bottom
            display: none
            position: fixed
            left: 0
            right: 0
            top: 78px
            bottom: 0
            z-index: 99
            padding-top: 30px
            &-visible
                display: block
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 20px
                &-mobile
                    &-visible
                        display: block
        &__user
            flex-direction: column
            justify-content: center

    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: $light
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &-light
                color: $light
                margin-left: 0
                margin-top: 10px
    .hotel
        &-wrapper
            justify-content: space-between
        &-name
            flex-basis: 100%
        &-info
            &__rating
                display: none
            &__text
                width: 100%
            &__name
                margin-top: 10px

            &__offer
                order: -1
                margin-left: 0px
        &__rightside
            flex-direction: column
            min-height: 450px
        &-slider
            height: 350px
    .stars
        flex-basis: auto

    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        max-width: 576px
        &-wrapper
            max-width: 768px
            width: 92%
            flex-direction: column
            align-items: flex-start
        &-title
            padding-bottom: 37px
    .reviews
        &-slider
            &__title
                font-size: 18px
                line-height: 23px
                margin-bottom: 42px
            &__item

                padding: 0 30px 30px
                &::before
                &::after
                    display: none
            &__button
                top: 30px
                &__next
                    right: 50%
                    margin-right: -65px
                    transform: translate(50%, 0)
                &__prev
                    left: 50%
                    margin-left: -65px
                    transform: translate(-50%, 0)
    .activities
        padding-top: 40px
        padding-bottom: 60px
    .card
        width: 49%
        height: 255px
        margin-bottom: 10px
    .footer
        &__input
            &-block
                flex-wrap: wrap
            &-group
                flex-basis: 100%
    .modal
        &__dialog
            padding: 20px 30px
            width: 80%
        &__message
            max-height: 50px
        &__button
            min-width: 100%
            min-height: 30px
        &__info
            font-size: 10px
            line-height: 12px
            margin-left: 0
@media ( max-width: 576px )
    .logo
        width: 99px

    .hotel
        &__slider
            margin-bottom: 20px
        &-slider
            height: 250px
    .newsletter
        padding-top: 76px
        padding-bottom: 83px
        max-width: 480px
        &-title
            font-size: 20px
            line-height: 25px
            &__strong
                font-size: 30px
                line-height: 38px

    .subscribe
        width: 100%
    .card
        width: 100%
    .footer

        padding-top: 60px
        &-wrapper
            grid-template-columns: 1fr
            grid-row-gap: 30px

        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__informations
            grid-row: 3
            grid-column: 1
        &__categories
            grid-row: 4
            grid-column: 1
        &__legal
            grid-row: 5
            grid-column: 1

        &__contact-details
            grid-row: 6
            grid-column: 1

        &__contacts-form
            grid-row: 7
            grid-column: 1
    .modal

        &__input
            margin-bottom: 5px
            padding: 0 10px
            height: 30px
        &__message
            margin-bottom: 5px
            padding: 0 10px

@media ( max-width:380px )

    .navbar
        &__search
            max-width: 250px
            overflow: hidden
    .modal
        &__title
            font-size: 12px
            line-height: 18px

        &__dialog
            padding: 10px 20px
        &__form
            font-size: 10px
        &__message
            padding: 0 5px
        &__input
            padding: 0 5px
            height: 20px
    .footer
        &-wrapper
            grid-template-columns: 98%
            grid-row-gap: 30px

@media (max-width: 576px) and (orientation: landscape)
    .modal
        &__dialog
            padding: 20px 40px
            max-width: 80%
        &__input
            width: 49%
            margin-bottom: 5px
            &-mail
                width: 99%
        &__message
            width: 99%
            min-height: 50px
    .navbar
        &__user
            flex-direction: row
            justify-content: start

        &-menu
            flex-direction: row
            flex-wrap: wrap

            &-mobile
                &-visible
                    display: block

            &__item

                &-mobile
                    &-visible
                        width: 50%

    .user
        &__avatar
            margin-right: 30px
